# compressed files
*.tar
*.gz
*.zip

# model files
*.h5
*.pb
*.pd
*.pth
*.pt
*.ckpt
*.pbtxt
*.onnx
*.xml
*.bin

# tensorflow-models
models

# pretrained model
faster_rcnn_resnet50_v1_640x640_coco17_tpu-8

coco
training
checkpoints
inference_graph